@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:ital,wght@0,100;0,400;0,600;1,400&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.floatform.off {
  opacity: 0;
  display: none;
}

.popup.ativado {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0549019608);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
}

.floatform {
  position: absolute;
  top: -150%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  left: 50%;
  background-color: white;
  margin: 0 auto;
  width: 30%;
  border-radius: 15px;
  padding: 70px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1921568627);
  transform: translate(-50%, -50%);
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.floatform.ativado {
  opacity: 1 !important;
  top: 50% !important;
  transform: translate(-50%, -50%) scale(1);
}

.floatform form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.floatform form input {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 15px;
  color: #00973f;
}

.floatform form label {
  margin-bottom: 20px;
  font-size: 18px;
}

.floatform form .SubmitButton {
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 8px;
  width: 50%;
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
  transition: ease-in-out 200ms;
}

.floatform form .SubmitButton:hover {
  background-color: #424242;
  transform: translateY(-2px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3215686275);
}

.floatformCreate {
  position: absolute;
  top: -125%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  background-color: white;
  margin: 0 auto;
  width: 30%;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1921568627);
  transform: translate(-50%, -50%);
}

.floatformCreate.ativado {
  opacity: 1 !important;
  top: 50% !important;
  transform: translate(-50%, -50%) scale(1);
}

.floatformCreate form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.floatformCreate form input {
  color: #00973f;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 15px;
}

.floatformCreate form label {
  margin-bottom: 9px;
  font-size: 15px;
}

.floatformCreate form .SubmitButton {
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 8px;
  width: 50%;
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
  transition: ease-in-out 200ms;
}

.floatformCreate form .SubmitButton:hover {
  background-color: #424242;
  transform: translateY(-2px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3215686275);
}

#CloseButtonForm {
  position: absolute;
  top: 10px;
  right: 18px;
  padding: 5px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.LinksLogin {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 5px;
  margin-top: 13px;
}

.LinksLogin > a {
  color: #007a56;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
}

.LinksLogin > button {
  color: #007a56;
  background: none;
  border-style: none;
  text-decoration: none;
  font-size: 17px !important;
  width: 100%;
  cursor: pointer;
}

.lembrar {
  display: inline-block;
  font-size: 15px;
}

.lembrar > label {
  font-size: 17px !important;
}

#ValSenha {
  display: none;
  position: relative;
  bottom: 20px;
  padding: 10px;
  font-size: 13px;
  border-radius: 13px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.1725490196);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.0196078431);
}

#ValSenha p {
  margin: 5px 0px;
}

.CharPassou {
  color: #007a56;
  font-weight: bold;
}

.CharNPassou {
  color: #7a0029;
}

.LoginDropBox {
  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: -30px;
  font-size: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4039215686);
  transition: ease-in-out 200ms;
}

.Perfil {
  display: none;
  position: relative;
  flex-direction: column;
  width: 10%;
  align-content: center;
  cursor: pointer;
  padding: 5px;
}

.Perfil > p {
  color: rgb(31, 153, 147);
}

.Perfil > p .User {
  font-weight: bold;
}

.Perfil:hover .LoginDropBox {
  display: flex !important;
}

.LoginDropBox:hover {
  top: 30px;
}

.Line {
  margin: 0 auto;
  display: block;
  background-color: rgba(75, 75, 75, 0.281);
  height: 1px;
  width: 100px;
}

.Perfil > p::after {
  content: "▼";
}

.Perfil > p:hover::after {
  content: "▲";
}

.LoginDropBox:hover ~ .Perfil > p::after {
  content: "▲" !important;
}

.LoginDropBox > ul li {
  list-style: none;
  text-decoration: none;
  color: rgb(65, 65, 65);
  width: 100%;
  max-width: 100%;
  padding: 5px;
  cursor: pointer;
}

.LoginDropBox > ul li:hover {
  text-decoration: none;
  color: rgb(49, 49, 49);
  background-color: rgb(241, 241, 241);
  max-width: 100%;
}

.LoginDropBox > ul li a {
  display: inline-block;
  width: 100%;
  height: 10%;
}

.MainBody .header {
  color: white;
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 15px;
}

.MainBody .sidebar {
  color: rgb(0, 0, 0);
  background-color: rgba(218, 218, 218, 0.8156862745);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2392156863);
  border-width: 1px;
  max-width: 100%;
  padding: 10px 1px;
}

.MainBody .main {
  color: white;
  background-color: white;
  grid-area: main;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2392156863);
  border-width: 1px;
  height: 100vh;
}

.MainBody .footer {
  color: rgb(0, 0, 0);
  background-color: rgba(223, 223, 223, 0.7882352941);
  grid-area: footer;
  padding: 5px;
}

.MainBody .footer > p {
  color: rgb(138, 138, 138);
}

.MainBody {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  min-height: 100vh;
  display: grid;
}

.MainBody .GridContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto 0.025fr;
  grid-template-areas: "header header header header" "sidebar main main main" "sidebar main main main" "sidebar main main main" "sidebar main main main" "footer footer footer footer";
}

.Slide {
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color: rgb(0, 145, 60);
  width: 75%;
  height: 400px;
  margin: auto auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Clima {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  width: 90%;
  max-width: 90%;
  height: 140px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1294117647);
  cursor: pointer;
}

.Clima .city {
  font-size: 18px;
}

.Clima .temp {
  font-size: 15px;
  font-weight: 400;
}

.Clima .description {
  font-size: 12px;
  font-weight: 400;
}

.Clima.flex {
  justify-content: center;
  display: flex;
  align-items: center;
}

.Clima.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.Clima .weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
  right: 35px;
}

.Clima .weather.loading:after {
  visibility: visible;
  content: "Carregando...";
  color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 20px;
}

.MinMax {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: space-between;
}

.WeatherCard {
  display: none;
  height: 350px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.6862745098);
  color: white;
  position: fixed;
  top: 20%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  border-radius: 15px;
  transition-delay: 5s;
  transition: 0.2s ease-in-out;
}

.WeatherCard.active {
  display: flex;
  top: 50%;
}

.CloseWeather {
  position: relative;
  top: 0;
  font-size: 20px;
  left: 140px;
  font-weight: bold;
  cursor: pointer;
}

.WeatherCard .CardFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CardMinMax {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Aniversario {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  font-size: 15px;
  text-align: center;
  width: 90%;
  max-width: 90%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1294117647);
  margin-top: 15px;
}

span .line {
  height: 10px;
  width: 80%;
  background-color: #000000;
}

.Aniversario .Titulo {
  position: relative;
  top: 0;
  color: rgb(0, 116, 90);
}

.niver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin-bottom: 2px;
  background-color: rgba(201, 201, 201, 0.089);
}

.flexNiver {
  display: flex;
}

.niver h1 {
  font-size: 15px;
  margin-top: 8px;
}

.niver p {
  font-size: 12px;
  margin: 10px 0;
}

.niver.hoje {
  background-color: hsl(152deg, 100%, 32%);
  color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2117647059);
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c2c2c2;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(152deg, 100%, 32%);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(152deg, 100%, 26%);
}

@media (max-width: 1160px) {
  .Aniversario .Titulo {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .Aniversario .Titulo {
    font-size: 12px;
  }
  .floatform {
    width: 60%;
  }
  .floatformCreate {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .floatform {
    width: 80%;
  }
  .floatformCreate {
    width: 80%;
  }
  .CloseButtonForm {
    padding: 15px;
  }
  .Slide {
    width: 90%;
    height: 200px;
    font-size: 30px;
  }
  .Clima {
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    width: 140px;
    max-width: 90%;
    height: 90px;
  }
  .Clima .MinMax {
    display: none;
  }
  .Clima .city {
    font-size: 40%;
  }
  .Clima .icon {
    position: relative;
  }
  .Clima .description {
    font-size: 9px;
  }
  .Aniversario .Titulo {
    position: relative !important;
    top: -35px;
    font-size: 50%;
  }
  .Aniversario {
    flex-direction: row;
    align-items: center;
    width: 1fr;
    max-width: 90%;
    height: 90px;
    padding: 5px !important;
    margin: 0px 9px;
  }
  .NiverList {
    position: relative;
    top: 5px;
    left: -45px;
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
  .niver {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    margin-bottom: 2px;
    background-color: rgba(201, 201, 201, 0.089);
  }
  .niver h1 {
    font-size: 55%;
    margin-top: 8px;
  }
  .niver p {
    font-size: 40%;
    margin: 10px 0;
  }
  .MainBody .sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    padding: 10px 1px;
  }
  .MainBody .GridContainer {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto 0.025fr;
    grid-template-areas: "header header header header" "sidebar sidebar sidebar sidebar" "main main main main" "main main main main" "main main main main" "footer footer footer footer";
  }
}/*# sourceMappingURL=style.css.map */